// 博客卡片
.blogRoot {
  border-radius: 30px;
}

// 博客标题
.blogTitle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

.blogWrap {
  // background: rgb(246, 247, 249);
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 20px;
}

.blogDataString {
  color: rgb(105, 105, 105);
  margin-top: 12px;
  margin-bottom: 12px;
}

.loading {
  text-align: center;
}

.blogItemDate {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: rgb(95, 99, 104);
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 200px;
  flex-shrink: 0;
}

.blogItemTitle {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: rgb(95, 99, 104);
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.content {
  height: 50px;
}

.footer {
  padding-top: 11px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
}

.customBody {
  color: var(--adm-color-success);
}
