// 博客卡片
.blogRoot {
  margin-bottom: 12px !important;
  background: white;
}

// 博客卡片
.blogRoot:hover {
  box-shadow: rgb(0 0 0 / 4%) 0 5px 40px;
}

// 博客标题
.blogTitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

.blogWrap {
  padding: 0 12px;
  margin: 0 auto;
}

.blogDataString {
  color: rgb(105, 105, 105);
  margin-top: 12px;
  margin-bottom: 12px;
}

.loading {
  text-align: center;
  height: 100px;
}

.blogItemRootV2 :hover {
  box-shadow: rgb(218 220 224) 1px 0px 0px inset,
    rgb(218 220 224) -1px 0px 0px inset, rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  z-index: 1;
}

.blogItemRootV2 {
  height: 40px;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.blogItemDate {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: rgb(95, 99, 104);
  min-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 200px;
  flex-shrink: 0;
}

.blogItemTitle {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: rgb(95, 99, 104);
  min-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
