@import '~lxgw-wenkai-webfont/style.css';
body{
  background-color: #fff;
  font-family: "LXGW WenKai", sans-serif;
}

pre {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  background-color: transparent !important;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.032),0 3px 7px rgba(0,0,0,0.048),0 8px 8px rgba(0,0,0,0.08);
  border: none !important;
  font-size: 16px;
}

code {
  font-family: "LXGW WenKai", sans-serif !important;
}

code span{
  font-style: normal !important;
}
